form{
    margin-top: 20px;
    text-align: center;
    padding: 5px;

    
}
label{
    padding: 5px;
}

input{
    margin: 5px;
}

button{
    margin: 5px;
}
#mainp{
    background-color: lightgrey;
  width: 400px;
  border: 15px solid lightgrey;
  padding: 50px;
  margin: 20px;
text-align: center;
left: 400px;
    background-color: lightgrey;
    position: relative;
}