form{
    margin-top: 20px;
    text-align: center;
    padding: 5px;

    
}
label{
    padding: 5px;
}

input{
    margin: 5px;
}

// span{
  
//     position: relative;
//     top: 10px;
//   margin: 5px;
//   padding: 3px;
//     background-color: lightgrey;
//     border: 3px solid lightgrey;
//     border-radius: 3px;

// }
button{
    margin: 5px;
}
#mainp{
    background-color: lightgrey;
  width: 500px;
  border: 15px solid lightgrey;
  padding: 50px;
  margin: 20px;
left: 400px;
    background-color: lightgrey;
    position: relative;
}